!!! HTML

%html
  %head
    %meta{:charset => 'utf-8'}
    %title goodbre.ws
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #top-bar
      #top-bar-left
        #logo= logo_link
      #top-bar-right
        #search
        #nav
      .clear

    #container
      = yield

    #footer
      © 
      %a{ :href => '/' } goodbre.ws
      2011-2012 • 
      %a{ :href => '/about' } About
      •
      %a{ :href => '/privacy' } Privacy
      •
      %a{ :href => '/terms' } Terms
      •
      <a href="https://twitter.com/goodbrews" class="twitter-follow-button" data-show-count="false">Follow @goodbrews</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    - if notice
      #bottom.notice= notice
    - elsif alert
      #bottom.alert= alert
